/* Carousel Styles */
.carouselDiv {
  position: relative;
  top: 24px;
  align-self: center;
  background: #fff;
  width: 96%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
}
.carouselItem {
  width: 28%;

  margin: 15px;
}
.carouselImage {
  width: 100%;
}
.carouselImage:hover {
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.9);
  transition: all 400ms ease-in-out;
  transform: scale(1.1);
}
